html {
  scroll-behavior: smooth;
}

/* fonts */
/* inter font */
@font-face {
  font-family: "inter";
  src: url(./assets/fonts/inter/Inter-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "inter";
  src: url(./assets/fonts/inter/Inter-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "inter";
  src: url(./assets/fonts/inter/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "inter";
  src: url(./assets/fonts/inter/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "inter";
  src: url(./assets/fonts/inter/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "inter";
  src: url(./assets/fonts/inter/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "inter";
  src: url(./assets/fonts/inter/Inter-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "inter";
  src: url(./assets/fonts/inter/Inter-ExtraLight.ttf);
  font-weight: 200;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* components  */
@layer components {
  /* scrolls */
  /* scroll gray */
  .scroll_gray::-webkit-scrollbar {
    @apply rounded-full h-3;
  }

  .scroll_gray::-webkit-scrollbar-thumb {
    @apply bg-primary-gray-500 rounded-full border-2 border-solid;
    border-color: #fafafa;
  }

  .scroll_gray::-webkit-scrollbar-track {
    @apply rounded-full;
    background: #fafafa;
  }

  /* scroll blue */
  .scroll_blue::-webkit-scrollbar {
    @apply rounded-full h-1 w-1;
  }

  .scroll_blue::-webkit-scrollbar-thumb {
    @apply bg-primary-blue-700 rounded-full bg-opacity-50;
  }

  .scroll_blue:hover::-webkit-scrollbar-thumb {
    @apply bg-opacity-100;
  }

  .scroll_blue::-webkit-scrollbar-track {
    @apply rounded-full bg-transparent;
  }

  /* scroll hidden */
  .scroll_hidden::-webkit-scrollbar,
  .scroll_hidden::-webkit-scrollbar-thumb,
  .scroll_hidden::-webkit-scrollbar-track {
    display: none;
    opacity: 0;
  }

  /* flex & grid */
  .flex-start {
    @apply flex items-start;
  }

  .flex-center {
    @apply flex items-center;
  }

  .flex-end {
    @apply flex items-end;
  }

  .flex-center-between {
    @apply flex items-center justify-between;
  }

  .flex-start-between {
    @apply flex items-start justify-between;
  }

  .grid-4 {
    @apply grid grid-cols-4 gap-6 max-1124:grid-cols-3 max-768:grid-cols-2 max-768:gap-4 max-450:grid-cols-1;
  }

  /* font sizes */
  /* bold */
  .text-bold-32 {
    @apply text-32 leading-9 font-bold max-768:text-bold-28;
  }

  .text-bold-28 {
    @apply text-28 leading-8 font-bold;
  }

  /* semibold */
  .text-semibold-36 {
    @apply text-4xl font-semibold;
  }

  .text-semibold-23 {
    @apply text-[23px] leading-[26px] font-semibold;
  }

  .text-semibold-20 {
    @apply text-xl leading-22.5 font-semibold;
  }

  /* medium */
  .text-medium-18 {
    @apply text-lg leading-5 font-medium;
  }

  .text-medium-14 {
    @apply text-sm leading-4 font-medium;
  }

  /* regular */
  .text-regular-16 {
    @apply text-base font-normal leading-6.5;
  }

  .text-regular-14 {
    @apply text-sm font-normal leading-4;
  }

  .text-regular-13 {
    @apply text-13 font-normal leading-3.5;
  }

  /* buttons */
  .main-btn {
    @apply flex-center rounded-full py-3 px-6 gap-2 bg-white text-medium-18 border max-w-max disabled:opacity-50 transition-opacity duration-300;
  }

  .main-btn .btn-icon {
    @apply w-6 h-6;
  }

  .btn-primary_skyblue {
    @apply main-btn bg-primary-skyblue-500 text-white border-0;
  }

  .btn-primary_blue {
    @apply main-btn text-primary-blue-700 border-primary-blue-700;
  }

  .btn-primary_red {
    @apply main-btn text-primary-red-500 border-primary-red-500;
  }

  .btn-primary_gold {
    @apply main-btn text-primary-gold-400 border-primary-gold;
  }

  .btn-primary_linear-blue {
    @apply main-btn rounded-18 py-2 px-2.5 text-white bg-linear-gradient_blue-500 border-0 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .main-btn.active {
    @apply bg-linear-gradient_blue-500 border-primary-skyblue-500 text-white;
  }

  /* shadow, filter */
  .header-shadow {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.15);
  }

  .backdrop-filter_blur-md {
    backdrop-filter: blur(10px);
  }

  /* animation */
  @keyframes infinite-rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .infinite-rotate-animation {
    animation: infinite-rotate-animation 20s linear infinite;
  }

  /* other */
  .divider {
    @apply w-full bg-primary-gray-500;
    height: 1px;
  }

  /* home page */
  /* hero */
  .hero-swiper {
    @apply rounded-lg max-h-max h-full max-768:pb-5;
  }

  .hero-swiper_item {
    @apply w-full rounded-lg bg-secondary-green-500 p-6 px-12 max-1024:h-[256px] max-1024:px-6 max-768:h-[354px];
  }

  .hero-swiper_item-child {
    @apply flex-center-between gap-6 h-full max-768:flex-col-reverse;
  }

  .hero-swiper_item-content {
    @apply flex-center flex-col text-center;
    max-width: 412px;
  }

  .hero-swiper * {
    @apply text-white;
  }

  .hero-swiper_item-title {
    @apply text-bold-32 mb-2 max-1024:text-bold-28;
  }

  .hero-swiper_item-description {
    @apply mb-6;
  }

  .hero-swiper_item-button {
    @apply border-0 bg-primary-black-800;
  }

  .hero-swiper_item-img {
    @apply max-1024:w-[50%] max-768:w-[310px];
  }

  .hero-swiper .swiper-pagination {
    @apply max-768:-bottom-1;
  }

  /* categories section */
  .categories-section {
    @apply py-11;
  }

  .categories-section_list {
    @apply flex-start w-full overflow-auto snap-mandatory snap-x;
    gap: 30px;
  }

  .categories-section_list-item {
    @apply snap-start;
  }

  .categories-section_list .item_content {
    @apply flex-center flex-col gap-2;
  }

  .categories-section_list .item_circle {
    @apply w-32 h-32 rounded-full p-4;
  }

  .categories-section_list .item_circle-child {
    @apply flex-center justify-center relative w-24 h-24 rounded-full text-center;
  }

  .categories-section_list .item_img {
    @apply absolute;
  }

  .categories-section_list .item_text {
    @apply text-regular-16;
  }

  /* tab */
  .tab-menu {
    @apply flex gap-2.5 overflow-x-auto pb-4 p-0.5 mb-6 snap-mandatory snap-x;
    scroll-behavior: smooth;
  }

  .tab-menu_btn {
    @apply main-btn min-w-max snap-start focus:outline-none focus:border-primary-blue-700;
  }

  .tab-menu_btn-active {
    @apply !border-primary-skyblue-500 bg-linear-gradient_blue-500 text-white;
  }

  /* product details page */
  .vertical-product-swiper {
    @apply flex flex-col rounded-lg h-full;
    max-width: 115px;
    width: 100%;
  }

  .vertical-product-swiper .swiper-slide {
    @apply w-full h-[24%] rounded-lg cursor-pointer;
  }

  .vertical-product-swiper_img,
  .product-swiper_img {
    @apply w-full h-full object-cover bg-primary-gray-500 rounded-lg;
  }

  .product-swiper {
    @apply rounded-lg;
  }
  .product-swiper .swiper-wrapper {
    @apply z-10;
  }

  .product-swiper .swiper-slide {
    @apply grow rounded-lg;
  }

  .product-swiper :is(.swiper-button-prev, .swiper-button-next)::after {
    content: "";
  }

  .product-swiper .swiper-button-prev {
    @apply rotate-180;
  }

  .product-swiper :is(.swiper-button-prev, .swiper-button-next) {
    @apply w-8 h-8 bg-cover bg-center;
    background: url(../src/assets/images/svg/arrow-circle-right.svg);
  }
  .swiper-button-disabled {
    @apply !z-20;
  }

  /* product page */
  .product-type-btn {
    @apply px-2.5 pt-1 pb-1.5 rounded-lg border border-primary-black-800 text-regular-16 disabled:opacity-50;
  }

  .product-type-btn.active {
    @apply bg-linear-gradient_blue-500 border-primary-skyblue-500 text-white;
  }

  .product-page-tab-btn {
    @apply py-1.5;
  }

  .product-page-tab-btn::after {
    @apply block content-['']  w-full h-[3px] bg-linear-gradient_blue-500 mt-1 scale-0 transition-transform duration-300;
  }

  .product-page-tab-btn.active::after {
    @apply scale-100;
  }

  .input-wrapper {
    @apply flex-center relative w-full text-regular-16;
    --padding-x: 20px;
  }

  .input-wrapper .input {
    @apply rounded-full py-2 w-full border border-primary-gray-500;
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
  }

  .input-wrapper .placeholder {
    @apply absolute cursor-text bg-white text-primary-gray-500 px-0.5;
    --placeholder-half-height: 12px;
    left: var(--padding-x);
    transition: transform 0.2s linear, font-size 0.2s linear, top 0.2s linear;
    top: calc(50% - var(--placeholder-half-height));
  }

  .input-wrapper .input:is(:not(:placeholder-shown), :focus) ~ .placeholder {
    @apply text-regular-13;
    top: calc(4px - var(--placeholder-half-height));
  }

  .input-wrapper .input:change {
    background: #000;
  }

  /* public offer */
  .public-offer-page :is(.title, strong) {
    @apply inline font-semibold text-primary-black-800 uppercase;
  }

  .public-offer-page strong {
    @apply mr-1;
    text-transform: initial !important;
  }

  /* auth */
  .auth-form {
    @apply space-y-8 max-640:space-y-6 max-450:space-y-5;
  }

  .auth-form-input {
    @apply p-0 pb-3.5 rounded-none border-b-2 border-primary-gray-500;
  }

  /* invalid */
  .is-invalid {
    @apply !border-primary-red-500;
  }

  /* admin */
  .admin * {
    @apply text-white;
  }

  .admin h1 {
    @apply text-medium-18;
  }

  .admin input {
    @apply text-regular-16 text-white bg-transparent border border-primary-gray-50 pl-4 pr-12 py-2 rounded-lg placeholder:text-primary-gray-500 focus:outline-1 focus:outline-white focus:outline-offset-0;
  }

  .admin table * {
    @apply text-start p-0;
  }

  /* btns */
  .btn-skyblue {
    @apply inline-block min-w-max min-h-max text-regular-16 text-primary-skyblue-500 rounded-lg border border-primary-skyblue-500 !py-2 !px-4 focus:outline-1 focus:outline-primary-skyblue-500 focus:outline-offset-0;
  }

  .btn-success {
    @apply inline-block min-w-max min-h-max text-regular-16 text-secondary-green-500 rounded-lg border border-secondary-green-500 !py-2 !px-4 focus:outline-1 focus:outline-secondary-green-500 focus:outline-offset-0;
  }

  .btn-danger {
    @apply inline-block min-w-max min-h-max text-regular-16 text-primary-red-500 rounded-lg border border-primary-red-500 py-2 px-4;
  }

  /* thead, tbody */
  .admin table {
    width: 1192px;
  }

  .table-wrapper {
    @apply overflow-x-auto scroll_hidden;
  }

  .admin table :is(thead, tbody) {
    @apply block w-full;
  }

  /* tr, th, td */
  .admin table thead tr {
    @apply flex w-full py-4 border-b border-[#56577A];
  }

  .admin table tbody tr {
    @apply flex w-full py-2;
  }

  .admin table :is(th, td) {
    @apply flex-center grow;
  }

  .admin table th {
    @apply text-regular-14 text-primary-gray-500;
  }

  .admin table td {
    @apply text-regular-16;
  }

  /* sidebar */
  .sidebar-hr {
    background: linear-gradient(90deg, #ffffff00, #ffffff, #ffffff00);
    border: none !important;
  }

  .admin-sidebar-link.active {
    background: #1a1f37;
  }

  .admin-sidebar-link:hover {
    @apply bg-primary-blue-700;
  }

  :is(.admin-sidebar-link.active, .admin-sidebar-link:hover)
    .admin-sidebar-link-icon-wrapper {
    @apply bg-white;
  }

  /* admin pages initial styles */
  .admin-page-header {
    @apply flex-center justify-center relative text-center bg-linear-gradient_black-800 backdrop-filter backdrop-blur-120 rounded-20 py-8 mb-6 max-490:py-5 max-490:mb-5;
  }

  .admin-page-header h1 {
    @apply max-490:text-base;
  }

  .admin-page-header a {
    @apply absolute p-2 left-6 rounded-lg max-490:left-3;
  }

  .admin-page-body {
    @apply bg-linear-gradient_black-800 backdrop-blur-120 rounded-20 p-6 max-1240:p-5 max-450:p-4 max-450:rounded-lg;
  }

  .admin-page-search-input-wrapper {
    @apply flex-center justify-center relative max-w-md w-full;
  }

  .admin-page-search-input-wrapper input {
    @apply w-full pl-3.5 pr-12 rounded-lg border border-white text-regular-16 focus:outline-none;
  }

  .admin-page-search-input-wrapper button {
    @apply absolute right-3;
  }

  /* admin tab butons */
  .admin .tab-menu_btn {
    @apply main-btn min-w-max snap-start border-white bg-transparent focus:outline-none focus:border-primary-skyblue-500;
  }

  .admin .tab-menu_btn-active {
    @apply !border-white bg-linear-gradient_blue-500 text-white;
  }

  /* admin scroll styles */
  .admin .scroll_gray::-webkit-scrollbar {
    @apply bg-transparent w-3;
  }

  .admin .scroll_gray::-webkit-scrollbar-thumb {
    @apply bg-[#949494] border-[#222F68];
  }

  .admin .scroll_gray::-webkit-scrollbar-track {
    @apply bg-[#222F68];
  }

  .admin_page_profile-list a {
    @apply transition-colors duration-300 border-b border-transparent hover:border-white;
  }

  .admin_page_profile-list .active {
    @apply text-white border-b border-white;
  }

  /* confirmation modal */
  .confirmation-modal-form * {
    @apply text-primary-black-800;
  }

  .confirmation-modal-form {
    @apply flex flex-col gap-5;
  }

  .confirmation-modal-form label {
    @apply space-y-3;
  }

  .confirmation-modal-form :is(input, textarea) {
    @apply !w-full px-3 py-2 border border-primary-gray-500 rounded-lg text-regular-16 text-primary-black-800;
  }

  .confirmation-modal-form label {
    @apply space-y-3;
  }
}

@layer base {
  body {
    @apply text-medium-18 text-primary-black-800;
    background: #fff;
    font-family: "inter", sans-serif;
  }

  *:focus {
    @apply outline-none outline-transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary-black-800;
  }

  h1 {
    @apply text-semibold-36 max-768:text-bold-32;
  }

  h2 {
    @apply text-bold-32 max-768:text-bold-28;
  }

  h3 {
    @apply text-semibold-20 first-letter:h-1;
  }

  input {
    @apply w-full rounded-full py-2 text-regular-16 border-primary-gray-500;
  }

  :is(input, textarea)::placeholder {
    @apply text-primary-gray-500 text-regular-16;
  }

  address {
    @apply not-italic;
  }

  /* clears the ‘X’ from Chrome */
  :is(input[type="search"])::-webkit-search-decoration,
  ::-webkit-search-cancel-button,
  ::-webkit-search-results-button,
  ::-webkit-search-results-decoration {
    display: none;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl w-full mx-auto px-5 max-450:px-4;
  }
}
