/* fonts */
/* inter font */
@font-face {
  font-family: 'inter';
  src: url(./assets/fonts/inter/Inter-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'inter';
  src: url(./assets/fonts/inter/Inter-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'inter';
  src: url(./assets/fonts/inter/Inter-Bold.ttf);
  font-weight: 700;
}


@font-face {
  font-family: 'inter';
  src: url(./assets/fonts/inter/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'inter';
  src: url(./assets/fonts/inter/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'inter';
  src: url(./assets/fonts/inter/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'inter';
  src: url(./assets/fonts/inter/Inter-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'inter';
  src: url(./assets/fonts/inter/Inter-ExtraLight.ttf);
  font-weight: 200;
}










@tailwind base;
@tailwind components;
@tailwind utilities;

/* components  */
@layer components {
  .body {
    @apply text-medium-18;
    background: #fff;
    font-family: 'inter', sans-serif;
  }

  .container {
    @apply max-w-7xl w-full mx-auto px-5;
  }






  /* flex & grid */
  .flex-start {
    @apply flex items-start;
  }

  .flex-center {
    @apply flex items-center;
  }

  .flex-end {
    @apply flex items-end;
  }

  .flex-center-between {
    @apply flex items-center justify-between;
  }

  .flex-start-between {
    @apply flex items-start justify-between;
  }

  .grid-4 {
    @apply grid grid-cols-4 gap-6;
  }







  /* font sizes */
  /* bold */
  .text-bold-32 {
    @apply text-32 leading-9 font-bold;
  }

  /* semibold */
  .text-semibold-20 {
    @apply text-xl leading-22.5 font-semibold;
  }

  /* medium */
  .text-medium-18 {
    @apply text-lg leading-5 font-medium;
  }

  .text-medium-14 {
    @apply text-sm leading-4 font-medium;
  }

  /* regular */
  .text-regular-16 {
    @apply text-base font-normal leading-6.5;
  }

  .text-regular-14 {
    @apply text-sm font-normal leading-4;
  }

  .text-regular-13 {
    @apply text-13 font-normal leading-3.5;
  }







  /* buttons */
  .main-btn {
    @apply flex-center rounded-full py-3 px-6 gap-2 bg-white text-medium-18 border max-w-max;
  }

  .main-btn .btn-icon {
    @apply w-6 h-6;
  }

  .btn-primary_skyblue {
    @apply main-btn bg-primary-skyblue-500 text-white border-0;
  }

  .btn-primary_blue {
    @apply main-btn text-primary-blue-700 border-primary-blue-700;
  }

  .btn-primary_red {
    @apply main-btn text-primary-red-500 border-primary-red-500;
  }

  .btn-primary_gold {
    @apply main-btn text-primary-gold-400 border-primary-goldtext-primary-gold-400;
  }

  .btn-primary_linear-blue {
    @apply main-btn rounded-18 py-2 px-2.5 text-white bg-linear-gradient_blue-500 border-0;
  }







  /* shadow */
  .header-shadow {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.15);
  }








  /* home page  */
  /* hero */
  .hero-swiper {
    @apply rounded-lg;
  }

  .hero-swiper .hero-swiper_item {
    @apply w-full bg-secondary-green-500 p-6 px-12;
  }

  .hero-swiper .hero-swiper_item-child {
    @apply flex-center-between gap-6;
  }

  .hero-swiper .hero-swiper_item-content {
    @apply flex-center flex-col text-center;
    max-width: 412px;
  }

  .hero-swiper * {
    @apply text-white;
  }

  .hero-swiper .hero-swiper_item-title {
    @apply text-bold-32 mb-2;
  }

  .hero-swiper .hero-swiper_item-description {
    @apply mb-6;
  }

  .hero-swiper .hero-swiper_item-button {
    @apply border-0 bg-primary-black-800;
  }

  /* categories section */
  .categories-section {
    @apply py-11;
  }

  .categories-section_list {
    @apply flex-start w-full overflow-x-auto;
    gap: 30px;
  }

  .categories-section_list .item_content {
    @apply flex-center flex-col gap-2;
  }

  .categories-section_list .item_circle {
    @apply w-32 h-32 rounded-full p-4;
  }

  .categories-section_list .item_circle-child {
    @apply flex-center justify-center relative w-24 h-24 rounded-full text-center;
  }

  .categories-section_list .item_img {
    @apply absolute;
  }

  .categories-section_list .item_text {
    @apply text-regular-16;
  }





  /* products */
  .product {
    @apply w-full rounded-3xl;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
  }

  .product_img {
    @apply h-296 object-cover rounded-20 mb-4;
  }

  .product_content {
    @apply px-6 pb-6 space-y-2;
  }

  .product_rating-wrapper {
    @apply flex-center gap-3;
  }

  .product_rating-number {
    @apply text-regular-14;
  }

  .product_price {
    @apply text-semibold-20 text-primary-black-800;
  }

  .product_btns-wrapper {
    @apply flex-center-between;
  }

  .product_buy-btn {
    @apply btn-primary_linear-blue;
  }

  .product_buy-btn_text {
    @apply text-regular-16;
  }

  .product_buy-btn_icon {
    @apply w-5 h-5;
  }

  .product_toggle-like-btn_icon {
    @apply w-6 h-6;
  }
}


@layer base {
  *:focus {
    @apply outline-offset-2;
    outline-color: rgba(26, 62, 221, 0.5)
      /* primary blue 700 */
    ;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary-black-800;
  }

  h2 {
    @apply text-bold-32;
  }

  h3 {
    @apply text-semibold-20 first-letter:h-1;
  }

  input {
    @apply w-full rounded-full py-2 text-regular-16 border-primary-gray-500;
  }

  :is(input, textarea)::placeholder {
    @apply text-primary-gray-500 text-regular-16;
  }

  /* clears the ‘X’ from Chrome */
  :is(input[type="search"])::-webkit-search-decoration,
  ::-webkit-search-cancel-button,
  ::-webkit-search-results-button,
  ::-webkit-search-results-decoration {
    display: none;
  }
}

/* @layer utilities {} */